@use './styles/variables' as *;

page {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'PingFang SC',
    'Helvetica Neue',
    'Microsoft YaHei',
    sans-serif;
  font-size: $font-base;
  color: $color-text-regular;
  background-color: $color-bg-page;
  line-height: $line-height-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
